.card {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

.main {
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
    margin-top: 7%;
    background-color: #d9fcfa;
    border-radius: 4rem!important;
    border-color: #3E858D;
    border-style: solid;
    border-width: 3px;
}

body {
    /* background-color: #11e4d6; */
    background-image: url("./background-tile.png");
}

/* Main navigation */
.nav-icon  {
    font-size: 3rem;
}

.main-nav-btn{
    color: #51b2bd;
}

.main-nav-icon-label {
    font-size: 0.9rem;
    font-weight: bold;
}

/* Secondary Navigation */
.sec-nav-icon {
    font-size: 2rem;
}

.sec-nav-icon-label {
    font-weight: bold;
}


.sec-nav-btn, .sec-nav-info {
    color: #FF92C7;
    font-weight: bold;
}

.mid-section {
    color: #3E858D;
}

.footer-text {
    color: #3E858D;

}

/* Universal Modal Styles */
.modal .modal-content {
    background-color: #d9fcfa;
    color: #3E858D;
}

.modal .modal-title {
    font-weight: bold;
    color: #3E858D;
}

.modal h5 {
    font-weight: bold;
}

.modal-body {
    background-color: #fff;
}